<section id="articles" class="articles">
    <article class="articles__section1">
        <h2 class="articles__section1--maintitle">3 Reasons To Purchase</h2>
    </article>
    <article class="articles__section">
        <h3 class="articles__section--title">Ut sed metus</h3>
        <p class="articles__section--text">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="articles__section">
        <h3 class="articles__section--title">Curabitur ac erat</h3>
        <p class="articles__section--text">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="articles__section">
        <h3 class="articles__section--title">Morbi dictum</h3>
        <p class="articles__section--text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <article class="articles__section3">
        <button class="articles__button">More reasons</button>
    </article>
    <!-- <a href="#header"> <img class="articles__image" src="/images/Copia de ico-arrow.svg" alt="Flecha hacia arriba"></a> -->
</section>